{% extends 'base.html.twig' %}

{% block title %}Garage {{ garage.nomGarage }}{% endblock %}

{% block body %}

    <h2>Nom du Garage: {{ garage.Nom_garage }}</h2>
    <h2>Voiture dans ce Garage: {{ garage.Nom_voiture.Titre }}</h2>
{% endblock %}
